.more-container {
	& button {
		height: 3rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		& svg {
			margin-right: 1.5em;
		}
	}
}

@media (max-width: 600px) {
	.sd-mail {
		display: none;
	}
}