.report-bug-cont {
	width: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: $lesbotoc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bug-cont {
	& svg {
		color: red;
	}
}

.bug-form-cont {
	z-index: 10;
	position: fixed;
	background-color: $lesbotoc;
	right: 0;
	bottom: 0px;
	border-radius: 5px 0 0 5px ;
	box-shadow: -5px 5px 5px 0px rgba(154, 71, 0, 0.5);

	& textarea {
		height: 20vh;
		width: 20vw;
		resize: none;
	}
}


.slide-in-right {
	-webkit-animation: slide-in-right 0.5s ease-in-out both;
	animation: slide-in-right 0.5s ease-in-out both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s ease-in-out both;
	animation: slide-out-right 0.5s ease-in-out both;
}

/*animation for slide-in*/
@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/*animation for slide-out*/

@-webkit-keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
}

@keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
}

/*animation for bug wiggle*/
.bug-cont:hover {
	-webkit-animation: wiggle 0.3s linear 2 both;
	animation: wiggle 0.3s linear 2 both;
	cursor: pointer;
}

@-webkit-keyframes wiggle {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes wiggle {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}
	40% {
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@media (max-width: 600px) {
	.bug-form-cont {
		width: 50%;

		& h6 {
			font-size: 0.7em;
		}
	}
}
