//searchbar
.edit-list:nth-child(odd) {
	background-color: #e6f4f1;
}

.search-input input {
	width: 100%;
}

.add-modal {
	background-color: $lesbotoc;
}

//modal styling
.contact-form .form-group {
	& label {
		padding-top: 1%;
		padding-left: 2%;
		font-size: 12px;
		color: $lesbotoc;
	}
	& input {
		height: calc(1.5rem + 20px);
	}
}

.error-container {
	min-height: 5vh;
	
}

.contact-errors p {
	font-size: 0.75rem;
}

//table styling
.table-row:nth-child(odd) {
  background-color: $light-blue;
}

thead .table-hr {
  text-align: left;
}

//TODO: get rid of table classnames - instead use ".contacts-table .hide"
//responsive
@media (max-width: 600px) {
  .col-wherefrom,
  .col-email,
  .col-newsletter,
  .col-age,
  .col-updated,
  .col-edit,
  .td-wherefrom,
  .td-email,
  .td-newsletter,
  .td-age,
  .td-updated {
    display: none;
  }
}
