//TODO: clean css additional to bootstrap:

/***CONTACTSCONTAINER.JS***/

/***SEARCHBAR.JS***/
.edit-list:nth-child(odd) {
	background-color: #e6f4f1;
}

.search-input input {
	width: 100%;
}

//modal styling
.contact-form .form-group {
	& label {
		padding-top: 1%;
		padding-left: 2%;
		font-size: 12px;
		color: $lesbotoc;
	}
	& input {
		height: calc(1.5rem + 20px);
	}
}

.error-container {
	min-height: 5vh;
	
}
.contact-errors p {
	font-size: 0.75rem;
}

//table styling
.table-row:nth-child(odd) {
  background-color: $light-blue;
}

thead .table-hr {
  text-align: left;
}

//responsive
@media (max-width: 600px) {
  .col-wherefrom,
  .col-email,
  .col-newsletter,
  .col-age,
  .col-updated,
  .col-edit,
  .td-wherefrom,
  .td-email,
  .td-newsletter,
  .td-age,
  .td-updated {
    display: none;
  }
}
///////////////////////////////////////////////////////////////////////
//legacy css below: (needs to be striped)




// /*EditContacts*/

// .edit-contacts-modal {
//   margin-top: 20px;
// }

// .add-contact-btn-cont {
//   display: flex;
//   justify-content: space-between;
// }

// .contact-edit-cont-btn {
//   display: flex;
//   justify-content: space-between;
// }

// /*for mobiles*/

// @media (max-width: 600px) {

//   .edit-list {
//     max-width: 300px;
//     margin: auto;
//   }

//   .edit-list-item {
//     width: 100%;
//     margin: 5px;
//   }

//   .edit-list-item-email {
//     display: none;
//   }

//   .contacts__table {
//     width: 350px;
//     font-size: 0.7em;

//     & td {
//       padding: 0 5px;
//       height: 25px;

//       & button {
//         width: 20px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }

//   //EditModal
//   .edit-button,
//   .edit-btn {
//     font-size: 0.7em;
//   }
// }
