//EventsContainer
//TODO: set up ellipsis on long titles for left-hand container
.eventlist-btn {
	background-color: $light-blue;
	color: $dark-petrol;
	overflow: hidden;
}

.events-short-list {
	font-size: 0.75em;
}

.event-form .form-group {
	& label {
		font-size: 0.8rem;
		color: $dark-petrol;
	}
	& input {
		height: 3rem;
	}
	& textarea {
	resize: none;
	}
}

.add-event-card {
	background-color: $light-blue;
}

.event-container button a {
	text-decoration: none;
}

.event-image-upload {
	background-color: white;
	padding: 1em;
	& p, a {
		font-size: 0.8em;
	}
}

/*-------------------------------
FOR MOBILES
-------------------------------*/
@media (max-width: 600px) {

	//EventsArchive
	.events-archive-table .hide {
		display: none;
	}
	
	//EventsContainer
	//adding event
	.add-event-card {
		margin-top: 1em;
		
		& .add-event-title {
			display: flex;
			flex-direction: column;

			& h5 {
				margin-top: 1em !important;
			}
		}
		
		& form {
			display: flex;
			flex-direction: column;
		}
		
		& hr {
			display: none;
		}
		
		& .add-event-container {
			display: flex;
			flex-direction: column;
		}


	}
	
}
