*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* darker background for modal backdrops */
.backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}
